In [ ]:
'''Python Program to Print Hello world!
Python Program to Add Two Numbers
Python Program to Find the Square Root
Python Program to Calculate the Area of a Triangle
Python Program to Solve Quadratic Equation
1. Python Program to Swap Two Variables
2. Python Program to Generate a Random Number
3. Python Program to Convert Kilometers to Miles
4. Python Program to Convert Celsius To Fahrenheit
5. Python Program to Check if a Number is Positive, Negative or 0
6. Python Program to Check if a Number is Odd or Even
7. Python Program to Check Leap Year
8. Python Program to Find the Largest Among Three Numbers
9. Python Program to Check Prime Number
10. Python Program to Print all Prime Numbers in an Interval
11. Python Program to Find the Factorial of a Number
12. Python Program to Display the multiplication Table
13. Python Program to Print the Fibonacci sequence
14. Python Program to Check Armstrong Number
15. Python Program to Find Armstrong Number in an Interval
16. Python Program to Find the Sum of Natural Numbers'''

In [1]:
print('Hello World')

Hello World

In [6]:
# adding two number

def addno(n,m):
    return n+m
addno(10,50)

60

In [12]:
# Square root of a number

def sqrtno(n):
    return n**0.5
sqrtno(81)

9.0

In [14]:
# Area of triangle

def areatri(n,m):
    return 0.5*n*m

areatri(45,8)

180.0

In [16]:
# swap two variable

def swapping(n,m):
    n,m=m,n
    return n,m
swapping(5,9)

(9, 5)

In [30]:
# Generate a random variable
import random

print(random.randint(0,100))

20

In [34]:
# Kilomenter to Miles

def kmtomiles(n):
    return n*0.621371

kmtomiles(85)

52.816535

In [42]:
# Celsius to fahrenheit

def ctof(n):
    return (n * 9/5)+32

ctof(100)

212.0

In [47]:
# positive negative or zero

def nocheck(n):
    if n==0:
        return 'Zero'
    elif n>0:
        return 'Positive'
    else:
        return 'Negative'
nocheck(-78)

'Negative'

In [50]:
# Odd or Even

def oddeven(n):
    if n==0:
        return 'Zero'
    elif n%2==0:
        return 'Even'
    else:
        return 'Odd'
oddeven(90)

'Even'

In [97]:
# Leap year

def leapyear(n):
    return 'Leap Year' if((n % 400 == 0) or  (n % 100 != 0) and  (n % 4 == 0)) else 'Not a Leap Year'

leapyear(2016)

'Leap Year'

In [57]:
# Largest among three number

def largest(p,q,r):
    if p>r and p>r :
        return p
    elif q>p and q>r:
        return q
    else:
        return r
largest(40,30,20)

40

In [90]:
# Prime Number 

def prime(n):
    if n>1:
        #m=int(n/2+1)
        for i in range(2,int(n/2+1)):
            if n%i==0:
                print('Not Prime')
                break
        else:
            return 'Prime'
        
prime(32)

Not Prime

In [94]:
# prime number at an interval

def prime(lower,upper):
    for i in range(lower,upper):
        if i>1:
            #m=int(n/2+1)
            for j in range(2,int(i/2+1)):
                if i%j==0:
                    print('Not Prime')
                    break
            else:
                print(i)
prime(10,20)

Not Prime
11
Not Prime
13
Not Prime
Not Prime
Not Prime
17
Not Prime
19

In [99]:
# Factorial of a Number

def fact(n):
    return 1 if(n==0 or n==1) else n*fact(n-1)
fact(6)

720

In [108]:
def multable(n):
    for i in range(1,11):
        print(n,'x',i,'=',i*n)
multable(5)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [127]:
# Fibonacci sequence

def fibo(n):
    a,b=0,1
    if n < 0:
        return 'Incorrect Number'
    else:
        for i in range(2,n):
            c = a + b
            a,b=b,c
            print(c)
fibo(10)

1
2
3
5
8
13
21
34

In [130]:
# Armstrong Number 

def armstrong(n):
    temp,summ=n,0
    length=len(str(n))
    while temp > 0:
        digit = temp % 10
        summ += digit ** length
        temp //= 10
    return 'Armstrong' if summ==n else 'Not Armstrong'
armstrong(1634)

'Armstrong'

In [138]:
# Armstrong Number within a given range

def armstrongrange(n,m):
    for i in range(n,m):
        temp,summ=i,0
        length=len(str(i))
        while temp > 0:
            digit = temp % 10
            summ += digit ** length
            temp //= 10
        if summ==i:
            print('armstrong')
        else:
            print('Not armstrong')

armstrongrange(150,160)

Not armstrong
Not armstrong
Not armstrong
armstrong
Not armstrong
Not armstrong
Not armstrong
Not armstrong
Not armstrong
Not armstrong

In [143]:
# Sum of n Natural numbers

def naturalno(n):
    sum=0
    for i in range(1,n):
        sum+=i
    return sum
naturalno(10)

45

In [148]:
# Sum of Natural number within a range

def naturalnorange(n,m):
    sum=0
    for i in range(n,m):
        sum+=i
    return sum

naturalnorange(10,500)

124705